:root{
    --cor-fundo : rgb(153, 4, 128);
    --cor-primaria : #fff;
    --cor-hover: rgb(206, 7, 173);
}
body{
    font-family: 'Roboto', sans-serif;
}
.menu-bar{
    margin-top: 25px;
    margin-left: 0px;
    list-style-type: none;
    padding: 0;
    
} 
.menu-bar ul{
    background-color: var(--cor-fundo);
    border-radius: 15px;
}
.menu-bar ul li{
    position: relative;
    display: inline;
}
.menu-bar ul li a{
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;    
}
.menu-bar ul li a:hover{
    background-color: var(--cor-hover);
}
.menu-bar ul ul{
    display: none;
    width: 150px;
    position: absolute;
}
.menu-bar ul li:hover ul{
    display: block;
    position: absolute;
}
.menu-bar ul ul li{
    display: block;
   
}
.container img{
    margin-top: 100px;
    width: 300px;
    height: 350px;
}
.container{
    margin-top: 100px;
    display: flex;
}