*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
#header{
    width: 100%;

}
#header .navbar-brand{
    margin-left: 3rem;
    width: 261px;
    height: 64px;
}
#header .navbar-collapse{
   margin-left: 50rem;
    width: auto;

}
#slider {
    margin-top: 10rem;
    background: url(../assets/slider-bg.svg) no-repeat center bottom;
    background-size: contain;
  }
  
  #slider h1 {
    text-transform: uppercase;
    font-weight: 900;
  }
  
  #slider h4 {
    font-size: 18px;
    
  }
  #slider #image{
      padding: 0%;
      margin: 0;
  }
  #slider img{
    width: 500px;
    height: 450px;
}