body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffcbdb;

}
.header{
    margin-left: 100px;
}
.login{
    background-color: #bf40bf;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
}
p{
    display: none;
}
input{
    font-weight: bold;
    padding: 15px;
    border: none;
    outline: none;
}
a button{
    background-color: purple;
    border: none;
    color: white;
    padding: 15px;
    width: 100%;
    border-radius: 10px;

}
button:hover{
    background-color:magenta;
}
#submitbtn{
    
    display: none;
    background-color: purple;
    border: none;
    color: white;
    padding: 15px;
    width: 100%;
    border-radius: 10px;

}
#submitbtn:hover{
    background-color: magenta;
}
#forget-password{
    margin-top: 10px;
    padding: 0;
    border: none;
    text-decoration: none;
    color: white;
    background-color: transparent;
    
}
#forget-password:hover{
    text-decoration: underline;
}